.reviewView_PlayerDiv {
  display: flex;
  flex-direction: column;
}

.reviewView_Div {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  width: 90vw;
  text-align: center;
  margin: auto;
}

.reviewView_Div .Round {
  cursor: pointer;
  width: fit-content;
  align-self: center;
}
.reviewView_Div .Round:hover {
  text-decoration: underline;
}

.reviewView_Div .Incomplete {
  color: darkred;
}

.reviewView_Div .goBack {
  align-self: flex-end;
  cursor: pointer;
}

.reviewView_PlayerParent_Div {
  max-height: 65vh;
  overflow-y: scroll;
}

.incompleteHole {
  background-color: red;
  color: black;
  font-weight: 700;
  text-align: center;
}

.tableHeaderWords {
  font-size: 12px;
}

.alignTextCenter {
  text-align: center;
}

.leaderboard {
  width: 65%;
  margin: auto;
}
.stroke {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 10px;
}

.leaderboardDiv {
  border: 1px lightgray solid;
  border-radius: 10px;
  padding: 0px 15px;
  flex-grow: 2;
  margin-bottom: 5px;
}

.extraPadding {
  margin-bottom: 10px;
}

.leaderboardTotalSpan {
  float: right;
}
