.reviewView_PlayerDiv {
  display: flex;
  flex-direction: column;
}

.reviewView_Div {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  margin: auto;
}

.reviewView_Div .Round {
  cursor: pointer;
  width: fit-content;
  align-self: center;
}
.reviewView_Div .Round:hover {
  text-decoration: underline;
}

.reviewView_Div .Incomplete {
  color: darkred;
}

.reviewView_Div .goBack {
  align-self: flex-end;
  margin-right: 20px;
  cursor: pointer;
}

.incompleteHole {
  background-color: red;
  color: black;
  font-weight: 700;
  text-align: center;
}

.tableHeaderWords {
  font-size: 12px;
}

.alignTextCenter {
  text-align: center;
}
