.cardDetailsHeader {
    background-color: darkgray;
    text-align: center;
    padding-bottom: 1px;
    height: 10%;
    min-height: 27px;
}

.cardDetails {
    margin: auto;
    max-height: 85%;
    border: darkGray 4px solid;
    border-radius: 10px;
    height: 65%;
    min-height: 250px;
    max-width: 300px;
}

.cardDetailsForm {
    padding-left: 1%;
    padding-right: 1%;
    height: 89%;
    position: relative;
}

.layoutPadding {
    padding-top: 2px;
}

.startRoundButtonDiv {
    position: absolute;
    bottom: 0px;
    width: 98%;
}

.startRoundButtonDiv .btn {
    width: 100%
}

.playerInput {
    width: 55% !important;
}

.playerDiv {
    display: flex;
}

.playerInputGroup {
    max-height: 45%;
    overflow-y: auto;
}
.addPlayerButton {
    right: 5px;
    position: absolute;
}

 .holeAmountButtonGroup {
    display: flex !important;
    box-shadow: 0px 4px 10px #3e3d3d
}

.holeAmountButtonGroup .btn-light {
    color: #138496;
}

.holeAmountButtonGroup .btn {
    border: 1px solid #6f6f6ff5;
    font-weight: bold;
}