.createScorecardButton {
  width: 30%;
  font-weight: bold;
  margin: auto;
  min-width: fit-content;
}

.alignCenter {
  align-self: center;
}

.justifyCenter {
  justify-content: center !important;
}

.textAlignCenter {
  text-align: center;
}

.Bold {
  font-weight: bold !important;
}