.cardDetailsHeader {
  background-color: darkgray;
  text-align: center;
  padding-bottom: 1px;
  height: 10%;
  min-height: 27px;
}

.cardDetails {
  border: darkGray 4px solid;
  border-radius: 10px;
  min-width: 300px;
  align-self: center;
}

.cardDetailsForm {
  padding-left: 1%;
  padding-right: 1%;
  height: 89%;
  max-height: 270px;
  overflow-y: auto;
}

.layoutPadding {
  padding-top: 2px;
}

.startRoundButtonDiv {
  width: 98%;
  margin: auto;
  margin-bottom: 2px;
}

.startRoundButtonDiv .btn {
  width: 100%;
  margin-top: 1px;
}

.playerInputGroup {
  max-height: 45%;
  overflow-y: auto;
}

.cardDetailsButtonGroup {
  display: flex !important;
  box-shadow: 0px 4px 10px #3e3d3d;
}

.cardDetailsButtonGroup .btn-light {
  color: #138496;
}

.cardDetailsButtonGroup .btn {
  border: 1px solid #6f6f6ff5;
  font-weight: bold;
}
