.holeStyle {
  margin-right: 15px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.review_edit_Div {
  display: flex;
  justify-content: space-evenly;
}
.review_edit {
  cursor: pointer;
  z-index: 100;
  text-align: end;
}

.review_edit:hover {
  text-decoration: underline;
  color: unset;
}

.review_edit:focus {
  text-decoration: underline;
  color: unset;
}

.navigation {
  margin-bottom: 5px;
}
.navigation .MuiPagination-ul {
  justify-content: space-evenly;
}

.navigation ul .MuiPaginationItem-page.Mui-selected {
  background-color: rgb(17, 122, 139);
  color: white;
}

.currentHole_Div {
  display: flex;
  margin-left: 15px;
}

.holeTracker_conditionalDisplay {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}

.noDisplay {
  display: none;
}
